<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/stylepagAdm.css">
        <link rel="stylesheet" href="../../css/stlylemodal.css">
        <title>Biblioteca Científica Digital</title>
    </head>

    <body>
        <header>
            <div class = "container">
                <div class = "logo"><a href="indexAdm.html"><img src="../../img/logo.png" style="width: 200px; height: 120px;"></a></div>
                <div class = "menu">
                    <nav>
                        <a href="indexAdm.html#Sobre">Sobre</a>
                        <a href="indexAdm.html#Colaborador">Quero ser colaborador</a>
                        <a href="indexAdm.html#Artigo">Submeta seu artigo</a>
                        <a href="indexAdm.htmleventos.html">Eventos</a>
                        <a href="MenuAdm.html">Menu</a>
                    </nav>
                </div>

                <div class= "login">
                    <button id="btn1">Sair</button>
                </div> 
                  
            <div>
        </header>  

        <section>
            <!-- Modal de logout-->
            <div id="modal1" style="display: none;">
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <div class="fora-form">
                            <form method="post" action="">
                                <div class="dentro-form">
                                    <h2>Deseja Sair do Sitema?</h2></br>
                                    <div style = "text-align:center; margin-left: auto; margin-right: auto;">
                                        <button type="submit" id ="confirmar1">Confirmar</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" id ="cancel-button1">Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de cadastro Secretário-->
            <div id="modal2" style="display: none;">
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <div class="fora-form">
                            <form method="post" action="">
                                <div class="dentro-form">
                                    <h2>Cadastrar Secretário</h2></br>
                                    <div style = "text-align:center; margin-left: auto; margin-right: auto;">
                                        <button type="submit" id ="confirmar2">Confirmar</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" id ="cancel-button2">Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Alterar secretário-->
            <div id="modal3" style="display: none;">
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <div class="fora-form">
                            <form method="post" action="">
                                <div class="dentro-form">
                                    <h2>Alterar Secretário</h2></br>
                                    <div style = "text-align:center; margin-left: auto; margin-right: auto;">
                                        <button type="submit" id ="confirmar3">Confirmar</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" id="cancel-button3">Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="conjunto">
                <div class = "navegacao">
                    <div class="blocos">
                        </br></br></br>
                        <div class="dentro_bloco">
                            <a href="google.com"><h3>Gerenciar Eventos</h3></a>
                        </div>
                        </br>
                        <div class="dentro_bloco" href="www.google.com">
                            <a href="google.com"><h3>Gerenciar Organizadores</h3></a>
                        </div>
                        </br>
                        <div class="dentro_bloco" href="www.google.com">
                            <a href="google.com"><h3>Gerenciar Artigos</h3></a>
                        </div>
                        </br>
                        <div class="dentro_bloco" href="www.google.com">
                            <a href="google.com"><h3>Gerenciar Autores</h3></a>
                        </div>
                        </br>
                        <div class="dentro_bloco"> <!-- Abre modal -->
                            <h3 id="btn2">Cadastrar secretário</h3>
                        </div>
                        </br>
                        <div class="dentro_bloco"> <!-- Abre modal -->
                            <h3 id="btn3" >Alterar secretário</h3>
                        </div>
                        </br></br></br>
                    </div>
                </div>
            </div>   
        </section>

        
        <script src="../../js/jquery-3.6.0.min.js"></script> 
        <script >
            $(document).ready(function(){
                $("#btn1").click(function(){
                    $("#modal1").show();
                });
                $("#btn2").click(function(){
                    $("#modal2").show();
                });
                $("#btn3").click(function(){
                    $("#modal3").show();
                });
                $("#confirmar1").click(function(){
                    $("#modal1").hide();
                });
                $("#cancel-button1").click(function(){
                    $("#modal1").hide();
                });
                $("#confirmar2").click(function(){
                    $("#modal2").hide();
                });
                $("#cancel-button2").click(function(){
                    $("#modal2").hide();
                });
                $("#confirmar3").click(function(){
                    $("#modal3").hide();
                });
                $("#cancel-button3").click(function(){
                    $("#modal3").hide();
                });
            });
        </script>

        <footer>
            <div class="wrapper">
                <div class="company-footer">
                    <img src="../../img/logo.png" style="width: 200px; height: 120px;">
                    <div class="text">   
                        <h2>BCD © 2023 | All rights reserved.</h2>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
